#sizesAndAddToCart {
  height: 30%;
}

#bagAndOutfit, #sizesAndQuantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
}

#addToCart, #addToOutfit, #sizes, #quantity {
  /* border: 1px solid black; */
  margin: 1em;
  height: 2em;
  height: 50%;

}


#addToCart {
  flex-grow: 4;
}

#addToOutfit {
flex-grow: 1;
/* width: 100%; */
}


#sizes {
  flex-grow: 3;
}

#quantity {
  flex-grow: 2;
  max-width: 25%;
}

#sizeSelect {
  width: 100%;
  height: 100%;
}

#quantitySelect{
  width: 100%;
  height: 100%;
}

#addToCartButton, #addToOutfitButton {
  width: 100%;
  height: 100%;
  border: none;
  background: #212a2f;
  color: whitesmoke;
  box-shadow:  1px 1px 5px rgba(0,0,0,0.3);
}

#addToCartButton:hover{
  background: #3a3f41;

}
#addToOutfitButton:hover {
  background: #3a3f41;
}

#addToCartButton:active{
  background: #3a3e3f;
  box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.4);

}
#addToOutfitButton:active {
  background: #3a3e3f;
  box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.4);

}