#sizesAndAddToCart {
  height: 40%;
}

#bagAndOutfit, #sizesAndQuantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50%;
}

#addToCart, #addToOutfit, #sizes, #quantity {
  /* border: 1px solid black; */
  margin: 1em;
  height: 2em;
  height: 50%;

}


#addToCart {
  flex-grow: 4;
}

#addToOutfit {
flex-grow: 1;
width: 10%;
}


#sizes {
  flex-grow: 3;
}

#quantity {
  flex-grow: 2;
  max-width: 25%;
}

#sizeSelect {
  width: 100%;
  height: 100%;
}

#quantitySelect{
  width: 100%;
  height: 100%;
}

#addToOutfitButton{
  width: 5%;
}
#addToCartButton, #addToOutfitButton {
  width: 100%;
  height: 100%;

}


#alertMessage {
  font-size: 0.3em;
  color:red;
  text-align:center;
  width: 100%;
}