.questionsAndAnswers {
  margin-top: 20px;
}

.question {
  font-weight: bold;
  /* display: flex;
  justify-content: left; */
}
.answers {
  margin-top: 10px;
  /* margin-left: 10px; */
}

.buttons {
  font-weight: normal;
  display: flex;
  justify-content: flex-end;
  font-size: x-small;
  /* margin-right: 10px; */

}

.clickedButton {
  background: none;
  border: none;
  font-size: x-small;
}

.button {
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
  font-size: x-small;
}

.button:hover {
  color: grey;
}

.moreAnswersOrCollapse {
  color: #3a3e3f;
  font-weight: bold;
  margin-left: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.moreAnswersOrCollapse:hover {
  color: grey;
}