.close {
  position: relative;
  float: right;
  cursor: pointer;
}

#addPhotos {
  cursor: pointer;
}

.submit {
  cursor: pointer;
  margin-top: 30px;
}

.required {
  color: red;
  font-size: x-small;
}