#close {
  position: relative;
  float: right;
  cursor: pointer;
  background: none;
  border: none;
}

#addPhotos {
  cursor: pointer;
}

.submit {
  cursor: pointer;
  margin-top: 30px;
}

.required {
  color: red;
  font-size: x-small;
}

.modal {
  width: 50vw;
  height: 60vh;
}

.textInput {
  width: 100%;
}