.styleIcon {
  object-fit: cover;
  height: 3em;
  width: 3em;
  overflow: hidden;
  border-radius: 50%;
  box-shadow:  1px 1px 3px rgba(0, 0, 0, 0.5);

}

.styleIcon:hover {
<<<<<<< HEAD
  opacity: 0.5
}

=======
  opacity: 0.5;
  cursor:pointer;

}

.styleIcon:active {
box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
}
>>>>>>> main

.iconButton {
  object-fit: cover;
  border-radius: 50%;
  height: 3em;
  width: 3em;
<<<<<<< HEAD
}
=======
}

.styleIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tooltip {
  font-style: italic;
  font-size: 0.4rem;
  text-align: center;
  position: absolute;
  top:105%;
  left: 0;
  visibility: hidden;
  background: rgba(255, 255, 255, 0);
  width: 100%;
  border-radius: 10%;
  transition: visibility 100ms;
}

.styleIconContainer:hover .tooltip{
  visibility: visible;
}
>>>>>>> main
