.productDetail {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60%;
}

.loading {

  height: 70vh;
  align-items: center;
  justify-content: center;

}


#upperContainer {
  /* height: 70vh; */
  height:75%;
  display:flex;
  flex-direction: row;
  border-right: 1px solid black;
}

