#rating{

}

#date{

}

#summary{

}

#body{

}

#review {
  flex-direction: column;
  align-items: left;
  align-content: space-between;
  justify-content: space-around;
  margin: 1em;
}

#reviewslist{

}

#ratingsAndReviews {
  border: 1px solid black;
}

