#rating{

}

#date{
  font-size: x-small;
}

#summary{
  font-weight: bold;
}

#body{
  border:rgba(1, 1, 1, 1)
}

#reviewername {
  font-size: x-small;
}

#review {
  width: 50vw;
  flex-direction: column;
  align-items: left;
  align-content: space-between;
  justify-content: space-around;
  margin: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#reviewslist{

}

.ratingsAndReviews {
  border: 1px solid black;
}

