#navbar {
  width: 100%;
  background: #212a2f;
  height: 3.6em;
  color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1em;
  font-size: 2em;
  box-sizing: border-box
}

