#stylesAndSizes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em;
  justify-content: space-between;
}


#styleContainer {
  max-height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2%;
}

#styleName {
  margin-left: 5%;
  font-size: 1em;;
  font-style: italic;
  margin-top: 1em;
}
.styleLine {
  align-self: center;
  background: rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 1px;
}
#styleIconContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

#productName {
  color:rgba(10, 10, 10, 0.9);
  margin-bottom: 0px;
  font-size: 3em;
}

#price {
  margin-left: 0.4em;
  display: flex;
  flex-direction: row;
  font-size: 1.8em;
  margin-right: 0.5em;
}

#nameRatingPrice{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#shareOnSocialContainer {
  height: 10%;
  /* margin-left: 0; */
  margin: 0.5em 0.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#shareOnSocialContainer > * {
  margin: 0.2em;
  margin-left: 0;
}

.shareButton {
  height: 5vw;
}

#salePrice, #productPrice {
position: relative;
}

#salePrice:after{
  content: 'SALE';
  color: red;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.3em;
  transform: rotate(-10deg);
  opacity: 0.5;
}

.dollarSign {
  font-size: 0.6em;
  position: absolute;
  bottom: 25%;
  right: 100%;
}

#goToReviews {
  margin-bottom:0.4em;
  text-decoration: underline;
  font-size: 1em;
  color: rgba(50,50, 50, 0.4);
  width: fit-content;
  display: block;
}
#goToReviews:hover {
  color: lightgrey;
}

#productCategory {
  font-size: 1em;
  margin-top: none;
}