#stylesAndSizes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em;
  justify-content: space-between;
}

#styleContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  padding: 5%;
}

#styleName {
  margin-left: 5%;
  font-size: 0.5em;;
}
.styleLine {
  align-self: center;
  background: rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 1px;
}
#styleIconContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  padding: 0.5em;
}

#productName {
  color:rgba(10, 10, 10, 0.9);
  margin-bottom: 0px;
}

#price {
  display: flex;
  flex-direction: row;
}

#nameRatingPrice{
  margin-left: 5%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price {
  margin-right: 0.5em;
}

#shareOnSocialContainer {
  height: 10%;
  margin-left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#shareOnSocialContainer > * {
  margin: 0.2em;
  margin-left: 0;
}