#stylesAndSizes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1em;
  justify-content: space-between;
<<<<<<< HEAD
=======
}

#styleIconContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  padding: 0.5em;
}

#productName {
  color:rgba(10, 10, 10, 0.9);
}

#price {
  display: flex;
  flex-direction: row;
}

#bagAndOutfit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#addToBag, #addToOutfit {
  border: 1px solid black;
  margin: 1em;
  height: 2em;
}


#addToBag {
  flex-grow: 5;
}

#addToOutfit {
flex-grow: 2;
/* width: 100%; */
>>>>>>> main
}